 #nav{
  position:fixed;
  top:75px;
  left:0px;
  width:200px;
}
#nav ul{
  list-style-type:none;
}
#nav ul li{
  margin-top:10px;
  height:100%;
}
#nav ul li a{
  display:block;
  text-decoration:none;
  font-weight:700;
  font-size:18px;
  padding:8px 12px;
  height:100%;
  color: rgb(82,82,82);
}
#nav ul li a:hover{
  cursor:pointer;
  background-color:#ccc;
  border-radius:4px;
}
#nav ul li a.active{
  background-color:#bbb;
  border-radius:4px;
}

#container{
  width:800px;
  margin: 30px auto;
  text-align:left;
}